.shared-post-link__share-buttons_container {
  width: 20%;
  margin: 0 auto 5px auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 680px) {
  .shared-post-link__share-buttons_container {
    width: 60%;
  }
}

@media (max-width: 360px) {
  .shared-post-link__share-buttons_container {
    width: 90%;
  }
}